@use '../abstracts' as *;

.port{
    background-color: #FFFFFF;
    border: 1px solid #E6E0EC;
    border-radius: 10px;
    width: 266px;
    height: 379px;
    padding-left: 16px;
    @include shadow;
}
.port .body{
    width: 234px;
}
.port .body_2, .port .body_3, .port .body_4{
    @include  between;
    margin-top: 28px;
    color: $black;
}
.port .body_2 .tag{
    @include font(14px, 500);
    border: 1px solid #E6E0EC;
    border-radius: 10px;
    background-color: #F7F8FD;
    box-shadow: 0px 5px 3px 0px #0000000D;
    padding: 10px 8px;
}
.port .body_2 .price{
    @include font(24px, 500);   
    margin-top: 4px;
}
.port .body_3{
    font-size: 14px;
}
.port .body_4 .follow, .port .body_4 .view, .port .body_4 .like{
    width: 49px;
    @include  between{
        align-items: center;
    };
}