@use '../abstracts' as *;

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  font-size: 2rem;
}
