$media: (
  'lg': 1089px,
  'md': 757px,
  'sm': 581px,
  'xs': 391px
);

@mixin lg {
  @media screen and (max-width: map-get($media, 'lg')) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: map-get($media, 'md')) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: map-get($media, 'sm')) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: map-get($media, 'xs')) {
    @content;
  }
}
