@mixin font($font-size, $font-weight: normal) {
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin center-element($gap: 0) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin between() {
  display: flex;
  justify-content: space-between;
  @content;
}

@mixin gradient(){  
  background: linear-gradient(90deg, #6F48FC 21.63%, #D07EF7 60.55%, #56C6E7 79.11%);   
  background-clip: text;
  color: transparent;
}

@mixin blackbutton{
  background-color: #252739;
  color: white;
}

@mixin shadow{
  box-shadow: 10px 20px 50px 10px #0000001A;
}