@use '../abstracts' as *;

.header, .header-middle, .header-right{
  @include between{
      align-items: center;
  }
  font-size: 16px;    
}
.menus{
    margin: 2rem;   
    @include lg{
        display: none;        
    }
}
.menus a {
    color: $text-grey;
}
.header-left img{
    min-width: 136px;
    height: auto;    
}
.header-right a{
    @include font(16px, 500);
    width: 100%;
    height: 100%;
}
.header-right div{
    margin: 5px;
}
.header-right .login{
    max-width: 48px;
    height: 24px;
    @include sm{
        display: none;
    }
}
.header-right .signup{
    max-width: 102px;
    height: 44px;
    margin-top: 25px;
    @include sm{
        display: none;
    }
}
.header-right .signup a{    
    background-color: white;
    padding: 5px 10px;
    border: solid #E6E0EC 1px;
    border-radius: 8px;
    box-shadow: 0px 2px 2px 0px #0000001A;    
}
.header-right .menu_icon{
    display: none;
    @include lg{
        display: block;
    }
}    