@use '../abstracts' as *;
@forward 'footer';
@forward 'header';

.container {
    max-width: 192rem;
    margin-inline: auto;
  }
  .body-content {
    padding: 3.2rem 14rem;
  
    @include lg {
      padding: 3.2rem 7rem;
    }
  
    @include md {
      padding: 1.8rem 2.7rem;
    }
  }