<!-- part1 -->
<section class="part1">
    <div class="part1-container">
        <center>
            <h2 class="text1">Unlock Your Potential with</h2>
            <h2 class="text2">Sinar Education</h2>            
            <p class="text3">Education isn't just about acquiring knowledge; it's the key that opens 
            doors to new worlds, empowers individuals, and shapes a brighter future.</p>
            <button class="part1-button">Start training</button>
        </center>
    </div>
</section>

<!-- part2 -->
<section class="part2">
    <div class="part2-contanier">
        <center>
            <button class="part2-button">Trainings</button><br>
            <strong class="text1">Discover</strong><strong class="text2">the World</strong>
            <h2 class="text3">of Design</h2>            
        </center>
    </div>
</section>

<!-- part3 -->
<section class="part3">
    <div class="part3-contanier">
        <center>            
            <h2 class="text1">Start training with the</h2>
            <strong class="text2">professional</strong><strong class="text3"> team</strong>
            <p class="text4">Come on, it's time to start training now!</p>
            <button class="part3-button">Start training</button>
        </center>
    </div>
</section>

<!-- part4 -->
<section class="part4">
    <div class="part4-contanier">
        <div class="part4-head">
            <div class="left">
                <h2>Most Popular Courses</h2>
            </div>
            <div class="right">
                <img src="../assets/icons/left_icon.svg" alt="logo">
                <img src="../assets/icons/right_icon.svg" alt="logo">
            </div>
        </div>
        <div class="part4-body">
            <main>
            <include 
                src="./components/part4_port.html"
                locals='{
                    "picture": "part4_1.png",
                    "price": "$150",
                    "descript": Launch career as a web desi-gner and learning more.,
                    "follow": "5.3k",
                    "view": "3.2k",
                    "like": "128"
                }'
            ></include>
        </main>
        </div>
    </div>
</section>