<div class="main">
  <section class="short">
    <div class="shortvd">
      <div class="imgdiv"><center>img 111</center></div>
      <center>
        <h4>PS 1 VS PS 5 - God of War Ragnarok</h4>
        <p>14 Tr lượt xem</p>
      </center>
    </div>
    <div class="shortvd">
      <div class="imgdiv"><center>img 111</center></div>
      <center>
        <h4>PS 1 VS PS 5 - God of War Ragnarok</h4>
        <p>14 Tr lượt xem</p>
      </center>
    </div>
    <div class="shortvd">
      <div class="imgdiv"><center>img 111</center></div>
      <center>
        <h4>PS 1 VS PS 5 - God of War Ragnarok</h4>
        <p>14 Tr lượt xem</p>
      </center>
    </div>
    <div class="shortvd">
      <div class="imgdiv"><center>img 111</center></div>
      <center>
        <h4>PS 1 VS PS 5 - God of War Ragnarok</h4>
        <p>14 Tr lượt xem</p>
      </center>
    </div>
    <div class="shortvd">
      <div class="imgdiv"><center>img 111</center></div>
      <center>
        <h4>PS 1 VS PS 5 - God of War Ragnarok</h4>
        <p>14 Tr lượt xem</p>
      </center>
    </div>
    <div class="shortvd">
      <div class="imgdiv"><center>img 111</center></div>
      <center>
        <h4>PS 1 VS PS 5 - God of War Ragnarok</h4>
        <p>14 Tr lượt xem</p>
      </center>
    </div>
  </section>
  <section class="video">
    <div class="videovd">
      <div class="imgvd"></div>
      <div class="abc">
        <div class="avt"></div>
        <div class="video_text">
          <h4>Phân tích Game: Robox The Micnic Book 2 Chapter 3</h4>
          <div>Phân tích Game</div>
          <div>112 N lượt xem 1 ngày trước</div>
        </div>
      </div>
    </div>
    <div class="videovd">
      <div class="imgvd"></div>
      <div class="abc">
        <div class="avt"></div>
        <div class="video_text">
          <h4>Phân tích Game: Robox The Micnic Book 2 Chapter 3</h4>
          <div>Phân tích Game</div>
          <div>112 N lượt xem 1 ngày trước</div>
        </div>
      </div>
    </div>
    <div class="videovd">
      <div class="imgvd"></div>
      <div class="abc">
        <div class="avt"></div>
        <div class="video_text">
          <h4>Phân tích Game: Robox The Micnic Book 2 Chapter 3</h4>
          <div>Phân tích Game</div>
          <div>112 N lượt xem 1 ngày trước</div>
        </div>
      </div>
    </div>
    <div class="videovd">
      <div class="imgvd"></div>
      <div class="abc">
        <div class="avt"></div>
        <div class="video_text">
          <h4>Phân tích Game: Robox The Micnic Book 2 Chapter 3</h4>
          <div>Phân tích Game</div>
          <div>112 N lượt xem 1 ngày trước</div>
        </div>
      </div>
    </div>
  </section>
</div>
