@use '../../abstracts/' as *;

.feature {
  margin-top: 6.4rem;
}

.feature-head {
  @include between {
    align-items: center;
  }

  .feature-title {
    @include font(3.7rem, 700);
    color: $primary-color;
  }

  .feature-navigate {
    @include center-vertical;
    cursor: pointer;
  }

  @include xxl {
    .feature-title {
      font-size: 2.8rem;
    }
  }

  @include md {
    .feature-navigate {
      img {
        display: none;
      }
    }

    .feature-navigate:before {
      @include font(1.2rem, 400);
      content: 'See more';
      display: inline-block;
      color: $primary-color;
    }

    .feature-navigate:hover:before {
      text-decoration: underline;
    }
  }
}

.nft-cards {
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2.4rem;
  background-color: $white;
  border-radius: 1.5rem;

  @include xxl {
    grid-template-columns: repeat(3, 1fr);
  }

  @include md {
    grid-template-columns: 1fr 1fr;
    background-color: transparent;
    gap: 1.2rem;
  }

  @include sm {
    grid-template-columns: 1fr;
    max-width: 32rem;
    margin-inline: auto;
  }

  @include xxl {
    grid-template-columns: repeat(3, 1fr);

    .tablet {
      display: none;
    }
  }

  @include md {
    grid-template-columns: 1fr 1fr;
    background-color: transparent;
    gap: 1.2rem;

    .mobile {
      display: none;
    }

    .nft-card-img {
      width: 100%;
    }
  }

  @include sm {
    grid-template-columns: 1fr;
  }
}
