@use "../../abstracts/" as *;

.part4{
    margin-top: 250px;
    padding: 16px;
}
.part4-container{
    margin-top: 100px;    
    // width: 1160px;    
}
.part4-head{
    @include between;
    margin-top: 60px
}
.part4-head .left{
    @include font(20px, 500);
    color: $black;    
}
.part4-head .right{
    @include between;
    width: 92px;
}
.part4-body{
    @include between;
    margin-top: 30px;    
}