@use "../../abstracts/" as *;

.part4{
    width: 100%;
    overflow: hidden;
    padding: 10%;
}
.part4-container{
    margin-top: 100px;
    min-width: 1160px;
    min-height: 1100px;    
}
.part4-head{
    @include between;
    margin-top: 60px;
}
.part4-head .left{
    @include font(20px, 500);
    color: $black;    
}
.part4-head .right{
    @include between;
    width: 92px;
}
.part4-body{
    @include between;
    margin-top: 30px;    
}